@font-face {
  font-family: ADC;
  src: font-url('ADC-Semi-Bold') format('opentype');
}
@font-face {
  font-family: Inter;
  src: font-url('Inter-Bold') format('truetype');
}

@font-face {
  font-family: CSTM;
  src: font-url('CSTM-Xprmntl-03-Variable-Trial') format('truetype');
}
