.prototype_body_3 {
  // background: var(--medium-grey);
  position: relative;
}

#prototype_3 {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto;
}
.awesome-btn {
  background-color: var(--acid-green);
  position: absolute;
  top: 200px;
  width: 50%;
  left: 200px;
}
